/*******************************/
/* Tree view                   */
/*******************************/

body {
  background: #fbfbfb;
  text-align: center;
}

svg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

ul {
  display: flex;
  position: relative;

  >li {
    flex: 1 auto;
    position: relative;



    >*:not(ul) {
      box-shadow: 0 0 2px black;
      background-color: white;
      padding: 20px 30px;
    }

  }

  ul {
    margin-top: 30px;
  }

}