
/*******************************/
/* Tree view                   */
/*******************************/

body {
  background: #fbfbfb;
}

ul {
  display: flex;
  position: relative;

  > li {
    flex: 1 auto;
    position: relative;

    &::before{
      position: absolute;
      content: "";
      top: -10px;
      height: 10px;
      width: 1px;
      left: 50%;
      background: #aaaaaa;
    }

    &::after {
      position: absolute;
      content: "";
      top: -10px;
      width: 100%;
      left: 0;
      border-top: 1px solid #aaa;
    }

    &:first-child::after {
      left: 50%;
      width: 50%;
    }

    &:last-child::after {
      left: 0%;
      width: 50%;
    }

    &:only-child::after {
      left: 0%;
      width: 0%;
    }
    
    > *:not(ul) {
      padding: 20px 30px;
      background: #ffffff;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
    }

    > ul {
      margin-top: 20px;
      flex: 1 1 100%;

      &::after{
        content: "";
        position: absolute;
        top: -20px;
        height: 10px;
        width: 1px;
        left: 50%;
        background: #aaaaaa;
      }
    }
  }
}