/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *:after, *:before { box-sizing: border-box; }

img { max-width: 100%; height: auto; vertical-align: middle; }

/*******************************/
/* Tree view                   */
/*******************************/
body { background: #fbfbfb; text-align: center; }

svg { top: 0; bottom: 0; left: 0; right: 0; position: absolute; }

svg path { stroke: black; fill: transparent; stroke-dasharray: 1000; animation: strokeEntry 2s ease-in-out; }

svg path:nth-child(5) { animation-delay: 2s; }

@keyframes strokeEntry { to { stroke-dashoffset: 0; } }

@media (min-width: 1100px) { ul { display: flex; position: relative; } }

ul > li { flex: 1 auto; position: relative; }

@media (max-width: 1100px) { ul > li { margin-left: 40px; } }

ul > li > *:not(ul) { background-color: white; border: 1px solid #222; padding: 20px 30px; }

ul > li > ul { margin-top: 30px; }
